/* UNIVERSAL */

header {
    position: relative;
    vertical-align: center;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: #666666;
    color: white;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 8px;
    border-top: #929292 2px solid;
}

nav {
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    background: #666666;
    height: 0;
    width: 100%;

    /* box-shadow: 
        inset 0px 8px 10px -10px black,
        inset 0px -8px 10px -10px black;  */
    transition: all 0.5s ease-in-out;
}

#logo {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 48px;
    display: inline-block;
}

#img-space {
    background: rgb(92,163,228);
    position: absolute;
    width: 300px;
    height: 300px;
    left: calc(50% - 150px);
    top: -20px;
    border-radius: 200px;
}

#nav-show, #nav-hide{
    position: absolute;
    justify-content: right;
    background: none;
    color: white;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 48px;

    right: 20px;
    top: 20px;
    display: inline-block;
}

#nav-btn-section {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    display: inline-block;
}

.nav-btn {
    height: 100%;
    width: 100px;
    margin-left: -2px;
    margin-right: -2px;
    color: white;
    background: none;
    border: none;
    outline: none;
    border-left: 1px solid lightgray;
}

.nav-btn:hover {
    background: #4d4d4d;
    /* box-shadow: 
        inset 0px 8px 10px -10px black,
        inset 0px -8px 10px -10px black;  */
}

.active {
    background: #929292;
    /* box-shadow: 
        inset 0px 8px 10px -10px black,
        inset 0px -8px 10px -10px black;  */
}

.fa-github {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 32px;
}

.fa-linkedin-in {
    color: white;
    position: absolute;
    top: 10px;
    left: 50px;
    font-size: 32px;
}

/* INDEX */

#me-div {
    position: absolute;
    top: 70px;
    left: calc(50% - 125px);
    z-index: 99;
    height: 250px;
    width: 250px;
    border-radius: 150px;
    overflow: hidden;
    border: 2px solid white;
}

#me-img {
    width: 100%;
    height: 100%;
}

#main-contents {
    position: absolute;
    top: 195px;
    left: 20%;
    width: 60%;
    min-height: 300px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 145px 20px 20px 20px;
}

/* PROJECTS */

#projects-content {
    position: absolute;
    top: 195px;
    left: 20%;
    background: rgba(129, 129, 129, 0.8);
    align-content: center;
    text-align: center;
    padding: 20px;
    width: 60%;
    color: white;
    overflow: hidden;

    border-radius: 10px;
}

#projects-header {
    font-size: 32px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.project-div {
    position: relative;
    background-image: url("../images/horizon.jpg");
    background-size: 200%;
    background-position: center;
    margin: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 400px;
    width: 500px;
}

.project-banner {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 40px;
    background: #4d4d4d;
    vertical-align: middle;
    line-height: 50px;
    font-size: 24px;
    font-family: sans-serif;
}

.fa-code {
    display: inline-block;
    position: relative;
    background: #929292;
    border-radius: 20px;
    padding: 7px 4px 7px 4px;
    top: 0px;
    margin-right: 10px;
}